:root {
  --primaryColor: #a5907e;
  --mainWhite: #f7f7f7;
  --mainBlack: #222;

  --mainGrey: #838e83;
  --mainPink: #f7dad9;
  --LightPink: #fbefee;
  /* --mainLava: #3c302a;   322F20*/
  --mainLava: #23231a;

  --mainStyle: #14bdeb;
  --mainPurple: #57467b;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/**
7AE7C7
B744B8 steel pink
7E5A9B Royal purple
/
/* globals */
body {
  /* padding-top: 0px; */
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  /* color: var(--darkGrey); */
  font-family: Verdana, Playfair Display, Geneva, Tahoma, sans-serif;
  /* line-height: 1.4; */
  line-height: calc(1.1em + 0.5vw);
  overflow: hidden;
  /* overflow: auto; */
  overflow: scroll;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
