:root {
  --primaryColor: #a5907e;
  --mainWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #9e9e9e;
  --mainPink: #f7dad9;
  --mainLava: #443730;
  --mainStyle: #2274a5;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 0px;
  /* color: var(--darkGrey); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
/* body {
  background: lightblue url(coffee-apple.jpg) no-repeat fixed center;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
} */
.dark-overlay {
  background-color: rgba(239, 188, 213, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* //progress-bar */

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
